

.arrow {
    width: 25px;
    height: 25px;
    transform: scaleY(-1);
    align-self: center;
}

.formContainer {
    display: flex;
    flex-direction: column;
    grid-area: 1 / 2 / 2 / 3;
}

.formTitle {
    display: flex;
    justify-content: space-between;
}

label {
    display: grid;

}