:root {
    --light-grey: #f3f4f6;
    --white: #fff;
    background-color: var(--light-grey);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    --black: #000;
}

#root {
    display: grid;
    grid-template-columns: 1fr 3fr 8fr;
}

.controlableTextColor {
    color: var(--textColor);
}

h2 {
    margin-bottom: 0px;
}
/* form styles */
.arrow {
    width: 20px;
    height: 20px;
    align-self: center;
    margin-right: 10px;
}

.forms {
    margin-top: 50px;
}

.flip {
    transform: scaleY(-1);
}

.formContainer {
    display: flex;
    flex-direction: column;
    grid-area: 1 / 2 / 2 / 3;
    background-color: var(--white);
    padding-left: 20px;
    padding-bottom: 10px;
    margin:25px;
    border-radius: 10px;
}

.formTitle {
    display: flex;
    justify-content: space-between;
}

.titleText {
    margin-top: 10px;
}

label {
    display: grid;
    font-weight: 600;
    font-size: 15px;
}

.enteredLinksHolder {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.enteredLink {
    display: flex;
    align-items: center;
}

.deleteButton {
    width: 15px;
    height: 15px;
    margin: 5px;
}

.hidden {
    display: none;
}

input {
    background-color: var(--light-grey);
    border-radius: 10px;
    height: 30px;
    border: none;
    margin: 10px 20px 10px 0;
    padding-left: 10px;
}

.clickable {
    cursor: pointer;
}

.addButtonContainer
{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.addButton {
    background-color: var(--white);
    color: var(--black);
    border: 6px solid var(--light-grey);
    border-radius: 30px;
    font-size: 18px;
    font-weight: 500;
    padding: 5px 15px;
}

.formButton {
    background-color: var(--white);
    color: var(--black);
    border: 4px solid var(--light-grey);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 20px 0px 0px;
    padding: 0px 15px;
    height: 40px;
}

.formButtonContainer {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    align-items: center;
    margin-bottom: 5px;

}
.formDelete {
    grid-column-start: 1;
}
.formCancel {
    grid-column-start: 3;
}
.formSave {
    grid-column-start: 4;
    border: none;
    background-color: var(--main-color);
    color: var(--textColor);
    height: 36px;
}

/* Form Picker */

.formPickerContainer {
    margin-top: 30px;
    background-color: white;
    width: 90px;
    height: 165px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: end;
    border-radius: 10px;
}

.formPickerButton {
    border: none;
    width: 75px;
    height: 75px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 600;
    padding: 10px 0px;
    border-radius: 10px;
}

/* Customization */

.layoutContainer {
    border-radius: 10px;
    background-color: var(--white);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 60px 1fr;
    padding-left: 10px;
    margin-top: 75px;
}

.customizationTitle {
    grid-area: 1/1/2/4;
    margin-left: 15px;
    margin-bottom: 0px;
}
.layoutDisplay {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border: black 1px solid;
    width: 80px;
    height: 80px;
    border-radius: 10px;
}

.layoutOptionContainer {
    display: flex;
    margin-bottom: 30px;
}

.layoutOption {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.layoutMainColor {
    background-color: var(--main-color);
}

.layoutOptionText {
    margin-top: 5px;
    text-align: center;
}

.layoutTop {
    grid-area: 1/1/2/3;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.layoutLeft {
    grid-area: 1/1/3/2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.layoutRight {
    grid-area: 1/2/3/3;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.colorChoice {
    display: flex;
    align-items: center;
    font-weight: 500;
}

.fontChoice {
    border: 1px black solid;
    border-radius: 10px;
    width: 80px;
    height: 90px;
    text-align: center;
    margin-right: 15px;
}

.fontSample {
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 0px;
    
}

.fontName {
    margin: 0;
    padding-top: 0;
    font-size: 25px;
}



/* CVDisplay */

.cvContainer {
    display: grid;
    margin-top: 30px;
    width: 918px;
    min-height: 1186px;
    background-color: var(--white);
    filter: drop-shadow(1px 1px 7px #000);
}
.cvContainer.left {
    grid-template-columns: fit-content(65%) 3fr;
   grid-template-rows: auto auto 1fr;
}
.cvContainer.right {
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto auto 1fr;

}
.cvContainer.top {
    grid-template-columns: 100%;
    grid-template-rows: 250px auto auto 1fr;
}

.colorPannel {
    background-color: var(--main-color);
}
.colorPannel.left {
    grid-area: 1/1/4/2;
    display: flex;
    flex-direction: column;
    min-width: 230px;
}
.colorPannel.right {
    grid-area: 1/2/4/3;
    display: flex;
    flex-direction: column;
}
.colorPannel.top {
    grid-area: 1/1/2/2;
    display: grid;
    grid-template-rows: 150px 50px 50px;
}

.cvName {
    margin-top: 40px;
}
.cvName.left, .cvName.right {
    margin-bottom: 50px;
}
.cvName.top {
    text-align: center;
    
}

.linksHolder.top {
    display: flex;
    justify-content: center;
    width: 100%;
}
.linksText.top {
    margin: 0 10px;
}
.linksText.left, .linksText.right {
    margin-left: 20px;
}

.personalInfoHolder.top{
    display: flex;
    justify-content: center;
}

.skillPannel.top {
    grid-area: 4/1/5/2;
}

.experiencePannel.left {
    grid-area: 1/2/2/3;
    
}
.experiencePannel.right {
    grid-area: 1/1/2/2;
}
.experiencePannel.top {
    grid-area: 2/1/3/2; 
}

.educationPannel.left {
    grid-area: 2/2/3/3;
}
.educationPannel.right {
    grid-area: 2/1/2/2;
}
.educationPannel.top {
    grid-area: 3/1/4/2;
}

.changingColor{
    overflow: hidden;
    justify-self:end;
    padding-right: 5px;
}
.changingColor img{
    filter: drop-shadow(0px 1000px 0 var(--textColor));
    transform: translateY(-1000px);
}

.smallIcon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    
}



.skillsHolder {
    margin-left: 15%;
}

ul {
    padding: 0;
}

.pannelTitle {
    padding-left: 15px;
   margin-top: 60px;
}

.skillsTitle {
    padding-left: 15px;
}

.pannelInfoHolder {
    display: grid;
    align-items: center;
    grid-template-columns: 55px 1fr;
    
}
.pannelInfoHolder.left, .pannelInfoHolder.right {
    justify-content: start;
    margin-bottom: 20px;
}
.pannelInfoHolder.top {
    margin: 0 10px;
}

.pannelInfo {
    margin-bottom: 20px;
    list-style: none;
}

.linksText {
    height: 56px;
    
}



.underline {
    border-bottom: 1px solid;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
}

.whiteUnderline.left, .whiteUnderline.right {
    border-color: white;
}

.cardsContainer {
    display: flex;
    flex-direction: column;
    
}

.card {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 80%;
    column-gap: 20px;
    margin-bottom: 30px;
}

.cardText {
    margin: 2px;
    
}

.companyName {
    grid-area: 1/2/2/3;
}

.jobDates {
    grid-area: 1/1/2/2;
    text-align: end;
}

.jobLocation {
    grid-area: 2/1/3/2;
    text-align: end;
}

.jobTitle {
    grid-area: 2/2/3/3;

}

.jobDesc {
    grid-area: 3/2/4/3;
}

